@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<link rel="stylesheet" href="~/css/add.css">
<div class="cart-main-area ptb--100 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form action="#">               
                            <div class="table-content table-responsive">

                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">Sản Phẩm</th>
                                            <th class="product-name">Tên Sản Phẩm</th>
                                            <th class="product-price">Giá Tiền</th>
                                            <th class="product-quantity">Số Lượng</th>
                                            <th class="product-subtotal">Tổng Tiền</th>
                                            <th class="product-remove">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.Cart)
                                        {
                                        <tr>
                                            <td class="product-thumbnail"><a href="#"><img src="~/assets/images/@item.Image" alt="product img"></a></td>
                                            <td class="product-name"><a href="~/views/product/details.cshtml">@item.TenSp</a>
 
                                            </td>
                                            <td class="product-price"><span class="amount">@item.Gia</span></td>
                                            <td class="product-quantity"><input type="number" value="@item.SoLuong"></td>
                                            @*<td class="product-quantity"> 
                                             @using (Html.BeginForm("AddToCart", "Shopping"))
                                                {
                                                <input type="hidden" value="@item.MaSp" name="ID_SP" />
                                                <input type="number" value="@item.Sl" name="quantity" />
                                                <input type="submit" value="Update" class="btn btn-danger" />
                                                }
                                            
                                            </td>*@
                                            <td class="product-subtotal">@(item.Gia * item.SoLuong)</td>
                                           @* <td class="product-remove"><a class="fas fa-trash"></a></td>*@
                                            @*<td> class="product-remove">
                                                @Html.ActionLink("Delete","Remove",new{id = item.MaSp})
                                                <a class="fas fa-trash"></a>
                                            </td>*@

                                            <td class="product-remove">
                                                @Html.ActionLink("Delete", "RemoveItem", "Shopping", new{id = item.MaSp, time = item.thoiGianBoGio})
                                            </td>
                                        </tr>
                                       
                                    }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="buttons-cart--inner">
                                        <div class="buttons-cart">
                                            <a href="/product">Continue Shopping</a>
                                        </div>
                                        @*<div class="buttons-cart checkout--btn">
                                            <a href="#">update</a>
                                            <a href="#">checkout</a>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="ht__coupon__code">
                                        <span>Nhập Voucher</span>
                                        <div class="coupon__box">
                                            <input type="text" placeholder="">
                                            <div class="ht__cp__btn">
                                                <a href="#">enter</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 smt-40 xmt-40">
                                    <div class="htc__cart__total">
                                        <h6>cart total</h6>
                                        <div class="cart__desk__list">
                                            <ul class="cart__desc">
                                                <li>Số Tiền Thanh Toán</li>
                                            </ul>
                                            <ul class="cart__price">
                                                <li> @ViewBag.TongTien</li>
                                            </ul>
                                        </div>
                                        @*<div class="cart__total">
                                            <span>Số tiền thanh toán</span>
                                            <span>@ViewBag.TongTien</span>
                                        </div>*@
                                        <ul class="payment__btn">
                                            <li class="active"><a href="~/shopping/thanhtoan">thanh toán</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>