@model CustomerApplication.Models.DonHang
<style>
    /*.bd-placeholder-img {
                                        font-size: 1.125rem;
                                        text-anchor: middle;
                                        -webkit-user-select: none;
                                        -moz-user-select: none;
                                        -ms-user-select: none;
                                        user-select: none;
                                      }

                                      @@media (min-width: 768px) {
                                        .bd-placeholder-img-lg {
                                          font-size: 3.5rem;
                                        }
                                      }*/
</style>
<!-- Custom styles for this template -->
<link href="~/css/thanhtoan.css" rel="stylesheet">

<body class="bg-light">

    <div class="container">

        <div class="row">

            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Đơn Hàng</span>
                    @*<span class="badge badge-secondary badge-pill">3</span>*@
                </h4>
                <ul class="list-group mb-3">
                    @foreach (var item in ViewBag.Cart)
                    {
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Product name</h6>
                                <small class="text-muted">@item.TenSp</small>
                                <br>
                                <small class="text-muted">Số lượng: @item.SoLuong</small>
                            </div>
                            <span class="text-muted">@item.Gia</span>
                        </li>


                    }
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Tổng Tiền</span>
                        <strong> @ViewBag.TongTien</strong>
                    </li>
                </ul>


            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">THÔNG TIN</h4>
                @using (Html.BeginForm("ThanhToan", "Shopping", FormMethod.Post, new { @class = "needs-validation" }))
                {
                    @Html.ValidationSummary(true,"",new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Họ và tên</label>
                            <input name="s_name" type="text" class="form-control" id="firstName" placeholder="" value="" required>

                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted"></span></label>
                        <input name="s_email" type="email" class="form-control" id="email" placeholder="you@gmail.com" required>
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="phone">Số điện thoại <span class="text-muted"></span></label>
                        <input name="s_phone" type="text" class="form-control" id="phone" required>
                        <div class="invalid-feedback">
                            Please enter a valid phone.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Địa chỉ</label>
                        <input name="s_dc" type="text" class="form-control" id="address" placeholder="Số nhà, đường, ..." required>
                        <div class="invalid-feedback">
                            Please enter your address.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address2">Địa chỉ giao <span class="text-muted">(Optional)</span></label>
                        <input name="s_dcg" type="text" class="form-control" id="address2" required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <hr class="mb-4">

                    <h4 class="mb-3">Phương thức thanh toán</h4>

                    <div class="d-block my-3">
                        @*     <div class="custom-control custom-radio">
                    <input name="s_ttd" id="credit" type="radio" class="custom-control-input" checked required>
                    <label class="custom-control-label" for="credit">Thẻ tín dụng</label>
                    </div>
                    <div class="custom-control custom-radio">
                    <input name="s_cod" id="debit" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="debit">COD</label>
                    </div>*@

                        @Html.DropDownListFor(x => x.PhuongThucTt,
                    new SelectList(ViewBag.PartialTypes, "Value", "Text"),
                    new { @class = "custom-control custom-radio"})
                        <br>



                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">Ngân hàng nhận</label>

                                @Html.DropDownListFor(x => x.NganHangNhan,
                            new SelectList(ViewBag.bTypes, "Value", "Text"),
                            new { @class="form-control", @id="cc-name" })

                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Số thẻ</label>
                                <input name="s_st" type="text" class="form-control" id="cc-number" placeholder="">
                               @* <div class="invalid-feedback">
                                    Credit card number is required
                                </div>*@
                            </div>
                        </div>

                    </div>

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

                }


            </div>



            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

            <script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
            <script src="https://getbootstrap.com/docs/4.3/examples/checkout/form-validation.js"></script>
</body>
